@font-face {
    font-family: 'Pokemon Fire Red';
    src: url('fonts/Pokemon-Fire-Red.eot');
    src: url('fonts/Pokemon-Fire-Red.eot?#iefix') format('embedded-opentype'),
        url('fonts/Pokemon-Fire-Red.woff2') format('woff2'),
        url('fonts/Pokemon-Fire-Red.woff') format('woff'),
        url('fonts/Pokemon-Fire-Red.svg#Pokemon-Fire-Red') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pokemon Fire Red';
    font-weight: normal;
}

body{
    background: linear-gradient(to right, #5db9ff, #ff1f1f);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1{
    letter-spacing: 5px;
    font-weight: bold;
}

.pokeContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon{
    background-color: #e5ffb5;
    border-radius: 15px;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #222;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.pokemon:hover{
    box-shadow: inset -4px 4px 0 rgba(200, 200, 200, 0.9);
    font-size: 0.9rem;
}

.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 33%;
    width: 120px;
    height: 120px;
    border: 2px solid rgba(100, 100, 100, 0.1);
}

.imgContainer img{
    max-width: 90%;
}

.info{
    margin-top: 20px;
}

.number{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.name{
    margin: 15px 0 17px;
    letter-spacing: 1.5px;
}